<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/actor-list.css">
  <link rel="stylesheet" type="text/css" href="../css/actor.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/icons.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>JustCast</title>
</head>

<body>
  <!-- Page Content -->
  <nav class="navbar navbar-custom">
    <button class="btn btn-light btn-sm ml-auto">Wyloguj</button>
  </nav>
  <main class="" id="main">
    <div class="title-txt pb-2 text-white"><span>Aktorzy</span><a href="./actor-list.html"><button
          class="btn btn-success btn-sm float-right">Powrót do listy aktorów</button></a></div>
    <div class="container-fluid background">
      <!-- Wyszukiwarka -->
      <div id="aktor">

      </div>
      <!-- line -->
      <div class="row">
        <div class="col">
          <span class="line2" style="font-size:13px;">&nbsp;</span>
        </div>
      </div>
      <!-- galeria -->
      <div class="row p-4">
        <div class="col">
          <label for="img-gallery">Galeria (56) <i class="fas fa-caret-down galery"></i></label>
          <div id="img-gallery" class="text-left" style="display:none">
            <img src="../img/people3.jpg" class="img-thumbnail img2" alt="">
            <img src="../img/people3.jpg" class="img-thumbnail img2" alt="">
            <img src="../img/people3.jpg" class="img-thumbnail img2" alt="">
            <img src="../img/people3.jpg" class="img-thumbnail img2" alt="">
            <img src="../img/people3.jpg" class="img-thumbnail img2" alt="">
            <button class="btn custom-btn btn-lg text-center p-0"><span style="font-size: 90px;">+</span></button>

          </div>
        </div>
      </div>

      <!-- filmy -->
      <div class="row p-4">
        <div class="col">
          <label for="movie-gallery">Filmy (36) <i class="fas fa-caret-down movie-arrow"></i></label>
          <div id="movie-gallery" class="text-left" style="display:none">
            <img src="../img/people2.jpg" class="img-thumbnail img2" alt="">
            <img src="../img/people2.jpg" class="img-thumbnail img2" alt="">
            <img src="../img/people2.jpg" class="img-thumbnail img2" alt="">
            <img src="../img/people2.jpg" class="img-thumbnail img2" alt="">
            <img src="../img/people2.jpg" class="img-thumbnail img2" alt="">
            <button class="btn custom-btn btn-lg text-center p-0"><span style="font-size: 90px;">+</span></button>
          </div>
        </div>
      </div>

      <!-- Historia anagay -->
      <div class="row p-4">
        <div class="col">
          <label for="history">Historia angazy <i class="fas fa-caret-down history-arrow"></i></label>
          <div class="table-responsive">
            <table id="history" class="table" style="display:none">
              <thead class="thead-light">
                <tr>
                  <th scope="col">ID zlecenia</th>
                  <th scope="col">Nazwa zlecenia</th>
                  <th scope="col">Klient</th>
                  <th scope="col">Rola</th>
                  <th scope="col">Status</th>
                  <th scope="col">Data zmiany statusu</th>
                  <th scope="col">Prowadzący</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">xs2123</th>
                  <td>Lorem</td>
                  <td>Lorem</td>
                  <td>Lorem</td>
                  <td>Lorem</td>
                  <td>Lorem</td>
                  <td>Lorem</td>
                </tr>
                <tr>
                  <th scope="row">xs2123</th>
                  <td>Lorem</td>
                  <td>Lorem</td>
                  <td>Lorem</td>
                  <td>Lorem</td>
                  <td>Lorem</td>
                  <td>Lorem</td>
                </tr>
                <tr>
                  <th scope="row">xs2123</th>
                  <td>Lorem</td>
                  <td>Lorem</td>
                  <td>Lorem</td>
                  <td>Lorem</td>
                  <td>Lorem</td>
                  <td>Lorem</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </main>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="../app/actorProfil.js"></script>
  <script src="../app/toggles.js"></script>
</body>

</html>